body{
    font-family:'Roboto';
}
.nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    COLOR: WHITE;
}

.nav a{
    margin-right: 1rem;
    color: white;
    text-decoration: none;
}

.nav a:hover{
    text-decoration: underline;
}
.nav{
    background-color: #1F2937;
}
.card1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7em;
    background-color: #1F2937;
}

.bigtext{
    font-size: 48px;
    font-weight: 900;
    margin: 0em 2em 0em 0em;
    color: #F9FAF8;
}

.littletext{
    font-size: 18px;
    margin: 0em 7em 0em 0em;
    color: #E5E7EB;
}

.left-content {
    max-width: 50%;
}

.right-content {
    width: 40%;
    text-align: center;
    background-color: #4b5563;
    padding: 9%;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    border:currentColor;
    border-radius: 4px;
    width:7em;
    height: 2em;
    color: #F9FAF8;
    margin-top: 1em;
}

button:hover{
    border: 2px solid #F9FAF8;
    background-color: #4b5563;
    color: #F9FAF8;
}
.img{
    height:3%;
    width:3em
}

.card2top{
    display: flex;
    justify-content: center;
    font-size: 27px;
    font-weight: bolder;
}
.boxes {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 2em; 
}

.box {
  background-color: white;
  border-radius: 8px;
  width: 200px;
  padding: 1em;
  text-align: center;
}

.box img {
  width: 10em;
  height: 10em;
  border-radius: 6px;
  margin-bottom: 0.5em;
}

.subtext {
  font-size: 14px;
  color: #4b5563;
}
.card3{
    background-color: #E5E7EB;
    padding: 4em;
    justify-content: center;
}

.quotetext{
    margin: 1em 7em 1em 7em;
    justify-content: center;
    font-size: 36px;
    font-weight: 300;
    color: #4b5563;
}
.quoteperson{
    font-size: 18px;
    margin: 0em 0em 0em 27em;
    font-weight: bold;
    color: #1F2937;
}
.card4 {
    margin: 4em 13em 4em 13em;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    padding: 2em 7em 2em 7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-action {
    margin: 0;
}

.call {
    font-size: 20px;
    font-weight: 600;
}

.signuptext {
    font-size: small;
    opacity: 0.9;
}

#secondSignUp {
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 6px;
    width:5rem;
    height: 2rem;
}

#secondSignUp:hover{
    border: 2px solid #F9FAF8;
    background-color: #4b5563;
    color: #F9FAF8;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 2em 2em 2em 2em;
    font-size: small;
}

.copyright{
    justify-self: center;
}