body{
    font-family:'Roboto';
}
.nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    COLOR: WHITE;
}

.nav a{
    margin-right: 1rem;
    color: white;
    text-decoration: none;
}

.nav a:hover{
    text-decoration: underline;
}
.nav{
    background-color: #1F2937;
}
.card1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7em;
    background-color: #1F2937;
}

.bigtext{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.littletext{
    font-size: 18px;
    color: #F9FAF8
}

.left-content {
    max-width: 50%;
}

.right-content {
    width: 40%;
    text-align: center;
}
.img{
    height:3%;
    width:3em
}
.boxes {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 2em; 
}

.box {
  background-color: white;
  border-radius: 8px;
  width: 200px;
  padding: 1em;
  text-align: center;
}

.box img {
  width: 10em;
  height: 10em;
  border-radius: 6px;
  margin-bottom: 0.5em;
}

.subtext {
  font-size: 14px;
  color: #4b5563;
}